# Pandas zobrazovanie údajov
- df.head(n) - zobrazí prvých (n) dátových záznamov
- df.tail(n) - zobrazí posledných (n) dátových záznamov
- df.sample(n) - zobrazí náhodné dátové záznamy v počte (n)
- df.stlpec alebo df["stlpec"] - zobrazí daný stĺpec (ako sériu)
- df[["stlpec"]] - zobrazí daný stĺpec (ako DataFrame)
- df[["stlpec1","stlpec2"]] - zobrazuje niekoľko stĺpcov
- df.index - zobrazuje názvy indexov (riadkov)
- df.colums - zobrazuje názvy stĺpcov
- df.info() - zobrazuje všeobecné informácie o datasete

### Pre dátový rámec existujú dve funckie na získanie konkrétnych údajov
- loc hľadá názvy stĺpcov a indexov [[rows],[colums]]
- iloc vyhľadáva podľa ich poradových čísel [[row number],[column number]]

Môže sa uplatniť aj logická podmienka v zátvorkách

In [57]:
import pandas as pd
df = pd.read_csv ('/home/dell/DATA_ZALOHA/Data_Science/Data stes Pandas/fotbal_prestupy_2000_2019.csv')

### Zobrazíme si základné informácie o Datasete

In [50]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jméno               4700 non-null   object
 1   Pozice              4700 non-null   object
 2   Věk                 4700 non-null   int64
 3   Původní tým         4700 non-null   object
 4   Původní liga        4700 non-null   object
 5   Nový tým            4700 non-null   object
 6   Nová  Liga          4700 non-null   object
 7   Sezóna              4700 non-null   object
 8   Odhadovaná hodnota  3440 non-null   float64
 9   Přestupová částka   4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

### Zobrazíme si náhodne vygenerované záznami v počte 10

In [51]:
df.sample (10)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
4239,Antonio Rüdiger,Centre-Back,24,AS Roma,Serie A,Chelsea,Premier League,2017-2018,25000000.0,35000000
4401,Jairo Riedewald,Centre-Back,20,AFC Ajax,Eredivisie,Crystal Palace,Premier League,2017-2018,5000000.0,9000000
4492,Lucas Digne,Left-Back,25,FC Barcelona,LaLiga,Everton,Premier League,2018-2019,15000000.0,20200000
4341,Yevhen Konoplyanka,Left Winger,27,Sevilla FC,LaLiga,FC Schalke 04,1.Bundesliga,2017-2018,10000000.0,12500000
3680,Nicolás Lodeiro,Attacking Midfield,25,Corinthians,Série A,Boca Juniors,Primera División,2014-2015,2000000.0,4920000
4100,Mingjian Zhao,Right-Back,29,SD Luneng,Super League,HB CFFC,Super League,2016-2017,450000.0,10950000
1328,Nathan Ellington,Centre-Forward,24,Wigan,Premier League,West Brom,Premier League,2005-2006,2250000.0,4500000
1583,Johan Elmander,Centre-Forward,25,Bröndby IF,Superligaen,Toulouse,Ligue 1,2006-2007,3500000.0,5000000
3177,Marcos Rojo,Centre-Back,22,Spartak Moscow,Premier Liga,Sporting CP,Liga NOS,2012-2013,2000000.0,4000000
2508,Raúl Meireles,Central Midfield,27,FC Porto,Liga NOS,Liverpool,Premier League,2010-2011,11000000.0,13000000

###

### Zobrazenie konkrétneho stĺpca definovaného v zátvorkách

In [52]:
print (df['Jméno'])

0               Luís Figo
1           Hernán Crespo
2           Marc Overmars
3       Gabriel Batistuta
4          Nicolas Anelka
              ...
4695        Jasmin Kurtic
4696            Tchê Tchê
4697        Silvan Widmer
4698           Yuya Osako
4699         Kyle Bartley
Name: Jméno, Length: 4700, dtype: object

### Zobrazenie konkrétnych riadkov definovaných v indexe

In [54]:
print (df[0:3]) # Zobrazenie rozpetie definovaných riadkov 0,1,2

           Jméno          Pozice  Věk   Původní tým    Původní liga  \
0      Luís Figo    Right Winger   27  FC Barcelona          LaLiga
1  Hernán Crespo  Centre-Forward   25         Parma         Serie A
2  Marc Overmars     Left Winger   27       Arsenal  Premier League

       Nový tým Nová  Liga     Sezóna  Odhadovaná hodnota  Přestupová částka
0   Real Madrid     LaLiga  2000-2001                 NaN           60000000
1         Lazio    Serie A  2000-2001                 NaN           56810000
2  FC Barcelona     LaLiga  2000-2001                 NaN           40000000

### Zobrazenie konkrétnych stĺpcov

In [66]:
print (df.loc[:,['Původní tým','Nový tým']]) # definované stĺpce

         Původní tým       Nový tým
0       FC Barcelona    Real Madrid
1              Parma          Lazio
2            Arsenal   FC Barcelona
3         Fiorentina        AS Roma
4        Real Madrid       Paris SG
...              ...            ...
4695        Atalanta           SPAL
4696       Palmeiras    Dynamo Kyiv
4697  Udinese Calcio       FC Basel
4698      1. FC Köln  Werder Bremen
4699         Swansea      West Brom

[4700 rows x 2 columns]

### Zobrazenie konkrétneho riadku v datasete podľa argumentu

In [73]:
print (df.iloc[[365]]) # Definovaný riadok

               Jméno          Pozice  Věk Původní tým Původní liga  \
365  Agustín Delgado  Centre-Forward   27      Necaxa       Mexico

        Nový tým      Nová  Liga     Sezóna  Odhadovaná hodnota  \
365  Southampton  Premier League  2001-2002                 NaN

     Přestupová částka
365            5750000