# Pandas zobrazovanie údajov
- df.head(n) - zobrazí prvých (n) dátových záznamov
- df.tail(n) - zobrazí posledných (n) dátových záznamov
- df.sample(n) - zobrazí náhodné dátové záznamy v počte (n)
- df.stlpec alebo df["stlpec"] - zobrazí daný stĺpec (ako sériu)
- df[["stlpec"]] - zobrazí daný stĺpec (ako DataFrame)
- df[["stlpec1","stlpec2"]] - zobrazuje niekoľko stĺpcov
- df.index - zobrazuje názvy indexov (riadkov)
- df.colums - zobrazuje názvy stĺpcov
- df.info() - zobrazuje všeobecné informácie o datasete

### Naimportujeme si data set Futbalových prestupov za rok 2000 až 2019

In [3]:
import pandas as pd
df = pd.read_csv ('/home/dell/DATA_ZALOHA/Data_Science/Data stes Pandas/fotbal_prestupy_2000_2019.csv')

### Zobrazíme si základné informácie o Datasete

In [4]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jméno               4700 non-null   object
 1   Pozice              4700 non-null   object
 2   Věk                 4700 non-null   int64
 3   Původní tým         4700 non-null   object
 4   Původní liga        4700 non-null   object
 5   Nový tým            4700 non-null   object
 6   Nová  Liga          4700 non-null   object
 7   Sezóna              4700 non-null   object
 8   Odhadovaná hodnota  3440 non-null   float64
 9   Přestupová částka   4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

In [6]:
df.sample (10)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
2312,Josip Simunic,Centre-Back,31,Hertha BSC,1.Bundesliga,TSG Hoffenheim,1.Bundesliga,2009-2010,9000000.0,7000000
225,Bernt Haas,Right-Back,22,Grasshoppers,Super League,Sunderland,Premier League,2000-2001,NaN,2100000
314,Péguy Luyindula,Centre-Forward,22,R. Strasbourg,Ligue 2,Olympique Lyon,Ligue 1,2001-2002,NaN,8800000
4532,Mattia Perin,Goalkeeper,25,Genoa,Serie A,Juventus,Serie A,2018-2019,16000000.0,12000000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
775,Kléberson,Central Midfield,24,Atlético-PR,Brazil,Man Utd,Premier League,2003-2004,NaN,8600000
4349,Gerard Deulofeu,Right Winger,23,Everton,Premier League,FC Barcelona,LaLiga,2017-2018,12000000.0,12000000
3670,Lucas Mendes,Centre-Back,24,Marseille,Ligue 1,El-Jaish,Stars League,2014-2015,4000000.0,5000000
4187,Jonathas,Centre-Forward,27,Real Sociedad,LaLiga,Rubin Kazan,Premier Liga,2016-2017,6000000.0,7000000
2750,Raúl Meireles,Central Midfield,28,Liverpool,Premier League,Chelsea,Premier League,2011-2012,16000000.0,13500000