# Pandas zobrazovanie údajov
- df.head(n) - zobrazí prvých (n) dátových záznamov
- df.tail(n) - zobrazí posledných (n) dátových záznamov
- df.sample(n) - zobrazí náhodné dátové záznamy v počte (n)
- df.stlpec alebo df["stlpec"] - zobrazí daný stĺpec (ako sériu)
- df[["stlpec"]] - zobrazí daný stĺpec (ako DataFrame)
- df[["stlpec1","stlpec2"]] - zobrazuje niekoľko stĺpcov
- df.index - zobrazuje názvy indexov (riadkov)
- df.colums - zobrazuje názvy stĺpcov
- df.info() - zobrazuje všeobecné informácie o datasete

### Pre dátový rámec existujú dve funckie na získanie konkrétnych údajov
- loc hľadá názvy stĺpcov a indexov [[rows],[colums]]
- iloc vyhľadáva podľa ich poradových čísel [[row number],[column number]]

Môže sa uplatniť aj logická podmienka v zátvorkách

In [1]:
import pandas as pd
df = pd.read_csv ('/home/dell/DATA_ZALOHA/Data_Science/Data stes Pandas/fotbal_prestupy_2000_2019.csv')

### Zobrazíme si základné informácie o Datasete

In [2]:
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jméno               4700 non-null   object
 1   Pozice              4700 non-null   object
 2   Věk                 4700 non-null   int64
 3   Původní tým         4700 non-null   object
 4   Původní liga        4700 non-null   object
 5   Nový tým            4700 non-null   object
 6   Nová  Liga          4700 non-null   object
 7   Sezóna              4700 non-null   object
 8   Odhadovaná hodnota  3440 non-null   float64
 9   Přestupová částka   4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

### Na prístup k riadkom použijeme hranaté zátvorky

In [3]:
# Vyberie riadky začínajúce od pozícice druhého riadku po pozíciu štrtého riadku všetkých stĺpcov. 
df[2:5]

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000

### Na prístup k stĺpcom použijeme hranaté zátvorky

In [4]:
df[["Jméno","Věk"]]

                  Jméno  Věk
0             Luís Figo   27
1         Hernán Crespo   25
2         Marc Overmars   27
3     Gabriel Batistuta   31
4        Nicolas Anelka   21
...                 ...  ...
4695      Jasmin Kurtic   29
4696          Tchê Tchê   25
4697      Silvan Widmer   25
4698         Yuya Osako   28
4699       Kyle Bartley   27

[4700 rows x 2 columns]

### Na prístup ku kombinácií riadkov a stĺpcov

In [5]:
# Vyberte riadky začínajúce od pozície druhého riadku po pozíciu štrtého riadka. 
# A stĺpcov "Původní liga" a "Nová Liga" 
df[2:4][["Jméno","Věk"]]

               Jméno  Věk
2      Marc Overmars   27
3  Gabriel Batistuta   31

### Výber riadkou pomocou loc ()

In [6]:
# Vyberte riadky začínajúce od pozície druhého riadku po pozíciu štrtého riadku
# a všetkých stĺpcov
df.iloc[2:4]

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000

### Výber stĺpcov pomocou loc ()

In [7]:
# Pri použití názvou stĺpcov vychádzajte z údajov z DataFrame
df.loc[2:4, ['Jméno', 'Věk']]

               Jméno  Věk
2      Marc Overmars   27
3  Gabriel Batistuta   31
4     Nicolas Anelka   21

### Výber riadkou na základe podmienky pomocov loc ()

In [8]:
# Vyberie všetky riadky z DataFrame kde je splnená podmienka
df.loc[df['Věk'] == 27] # pokiaľ hladáme číslo bez úvodzoviek

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
20,Tore André Flo,Centre-Forward,27,Chelsea,Premier League,Rangers,Scotland,2000-2001,NaN,18000000
29,Alfonso,Centre-Forward,27,Real Betis,LaLiga2,FC Barcelona,LaLiga,2000-2001,NaN,16500000
38,Claude Makélélé,Defensive Midfield,27,Celta de Vigo,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,14000000
...,...,...,...,...,...,...,...,...,...,...
4628,Raúl Ruidíaz,Centre-Forward,27,Morelia,Liga MX Apertura,Sounders FC\t,MLS,2018-2019,5000000.0,6360000
4645,Federico Santander,Centre-Forward,27,FC Copenhagen,Superligaen,Bologna,Serie A,2018-2019,2000000.0,6000000
4658,Fabio Borini,Left Winger,27,Sunderland,League One,AC Milan,Serie A,2018-2019,7000000.0,5500000
4667,Yimmi Chará,Right Winger,27,Junior FC,Liga Águila II,Atlético-MG,Série A,2018-2019,2500000.0,5100000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

### Vyberie všetky riadky v ktorých sa hodnota nerovná argumentu

In [9]:
# Vyberie všetky riadky z DataFrame kde je splnená podmienka
df.loc[df['Pozice'] !='Centre-Forward']

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
5,Rio Ferdinand,Centre-Back,22,West Ham,Premier League,Leeds,Premier League,2000-2001,NaN,26000000
6,Flávio Conceicao,Central Midfield,26,Dep. La Coruña,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,25000000
11,Gerard López,Central Midfield,21,Valencia CF,LaLiga,FC Barcelona,LaLiga,2000-2001,NaN,21600000
...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

### Kombinácia viacero podmienok s operátorim &

In [10]:
# Zobrazia sa všetky riadky z DataFrame 
# Podľa argumentu v stĺpci 'Věk'
# Argument_1 zobraz 24 ročných a starších
# Argument_2 zobraz 30 ročných a mladších
df.loc[(df['Věk'] >= 24) & (df['Věk'] <= 30)]

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
6,Flávio Conceicao,Central Midfield,26,Dep. La Coruña,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,25000000
7,Savo Milosevic,Centre-Forward,26,Real Zaragoza,LaLiga,Parma,Serie A,2000-2001,NaN,25000000
...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

###