# Pandas zobrazovanie údajov
- df.head(n) - zobrazí prvých (n) dátových záznamov
- df.tail(n) - zobrazí posledných (n) dátových záznamov
- df.sample(n) - zobrazí náhodné dátové záznamy v počte (n)
- df.stlpec alebo df["stlpec"] - zobrazí daný stĺpec (ako sériu)
- df[["stlpec"]] - zobrazí daný stĺpec (ako DataFrame)
- df[["stlpec1","stlpec2"]] - zobrazuje niekoľko stĺpcov
- df.index - zobrazuje názvy indexov (riadkov)
- df.colums - zobrazuje názvy stĺpcov
- df.info() - zobrazuje všeobecné informácie o datasete

### Pre dátový rámec existujú dve funckie na získanie konkrétnych údajov
- loc hľadá názvy stĺpcov a indexov [[rows],[colums]]
- iloc vyhľadáva podľa ich poradových čísel [[row number],[column number]]

Môže sa uplatniť aj logická podmienka v zátvorkách

In [4]:
import pandas as pd
from IPython.display import display
df = pd.read_csv ('/home/dell/DATA_ZALOHA/Data_Science/Data stes Pandas/fotbal_prestupy_2000_2019.csv')

### Zobrazíme si základné informácie o Datasete

In [6]:
# Týmto príkazom si zobrazíme základné informácie o DataSete, 
# menný zoznam stĺpcom a počet hodnôt v stĺpci a dátové typy v jednotlivých stĺpcoch. 
df.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4700 entries, 0 to 4699
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Jméno               4700 non-null   object
 1   Pozice              4700 non-null   object
 2   Věk                 4700 non-null   int64
 3   Původní tým         4700 non-null   object
 4   Původní liga        4700 non-null   object
 5   Nový tým            4700 non-null   object
 6   Nová  Liga          4700 non-null   object
 7   Sezóna              4700 non-null   object
 8   Odhadovaná hodnota  3440 non-null   float64
 9   Přestupová částka   4700 non-null   int64
dtypes: float64(1), int64(2), object(7)
memory usage: 367.3+ KB

In [7]:
# Týmto príkazom si zobrazíme základné informácie v DataSete s pohľadu riadkov (indexov) a ich hodnoty. 
display (df)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000
...,...,...,...,...,...,...,...,...,...,...
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

### columns

In [11]:
# Týmto si zobrazíme všetky stĺpce, je to výhoda pokiaľ máme veľa stĺpcov a nezmestia sa nám všetky na monitor
print (df.columns)

Index(['Jméno', 'Pozice', 'Věk', 'Původní tým', 'Původní liga', 'Nový tým',
       'Nová  Liga', 'Sezóna', 'Odhadovaná hodnota', 'Přestupová částka'],
      dtype='object')

### shape

In [12]:
# Týmto príkazom si zobrazíme počet riadkov a počet stĺpcov
print (df.shape)

(4700, 10)

### head

In [24]:
# Zobrazíme prvých 10 riadkov datasetu
df_head = df.head (10)
display (df_head)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
0,Luís Figo,Right Winger,27,FC Barcelona,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,60000000
1,Hernán Crespo,Centre-Forward,25,Parma,Serie A,Lazio,Serie A,2000-2001,NaN,56810000
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000
5,Rio Ferdinand,Centre-Back,22,West Ham,Premier League,Leeds,Premier League,2000-2001,NaN,26000000
6,Flávio Conceicao,Central Midfield,26,Dep. La Coruña,LaLiga,Real Madrid,LaLiga,2000-2001,NaN,25000000
7,Savo Milosevic,Centre-Forward,26,Real Zaragoza,LaLiga,Parma,Serie A,2000-2001,NaN,25000000
8,David Trézéguet,Centre-Forward,22,Monaco,Ligue 1,Juventus,Serie A,2000-2001,NaN,23240000
9,Claudio López,Centre-Forward,25,Valencia CF,LaLiga,Lazio,Serie A,2000-2001,NaN,23000000

### tail

In [25]:
# Zobrazí posledných 10 riadkov datasetu
df_tail = df.tail (10)
display (df_tail)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
4690,Marco Carraro,Defensive Midfield,20,Inter,Serie A,Atalanta,Serie A,2018-2019,800000.0,5000000
4691,Jonathan Ikoné,Attacking Midfield,20,Paris SG,Ligue 1,LOSC Lille,Ligue 1,2018-2019,700000.0,5000000
4692,Giangiacomo Magnani,Centre-Back,22,Juventus,Serie A,Sassuolo,Serie A,2018-2019,600000.0,5000000
4693,Giangiacomo Magnani,Centre-Back,22,Perugia,Serie B,Juventus,Serie A,2018-2019,600000.0,5000000
4694,Evan N'Dicka,Centre-Back,18,AJ Auxerre,Ligue 2,E. Frankfurt,1.Bundesliga,2018-2019,400000.0,5000000
4695,Jasmin Kurtic,Attacking Midfield,29,Atalanta,Serie A,SPAL,Serie A,2018-2019,5000000.0,4800000
4696,Tchê Tchê,Central Midfield,25,Palmeiras,Série A,Dynamo Kyiv,Premier Liga,2018-2019,3000000.0,4800000
4697,Silvan Widmer,Right-Back,25,Udinese Calcio,Serie A,FC Basel,Super League,2018-2019,8500000.0,4500000
4698,Yuya Osako,Second Striker,28,1. FC Köln,2.Bundesliga,Werder Bremen,1.Bundesliga,2018-2019,4500000.0,4500000
4699,Kyle Bartley,Centre-Back,27,Swansea,Championship,West Brom,Championship,2018-2019,3500000.0,4500000

### sample

In [26]:
# Zobrazí 10 náhodne vybratých riadkov datasetu
df_sample = df.sample (10)
display (df_sample)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
1131,Habib Bamogo,Second Striker,22,Montpellier,Ligue 2,Marseille,Ligue 1,2004-2005,NaN,3000000
480,Pieter Collen,Centre-Back,21,NEC Nijmegen,Eredivisie,Feyenoord,Eredivisie,2001-2002,NaN,2200000
920,Hakan Yakin,Attacking Midfield,26,Paris SG,Ligue 1,FC Basel,Super League,2003-2004,NaN,1600000
740,Cata Díaz,Centre-Back,23,CA Rosario,Argentina,CD Cruz Azul,Mexico,2002-2003,NaN,850000
4503,Alireza Jahanbakhsh,Right Winger,24,AZ Alkmaar,Eredivisie,Brighton,Premier League,2018-2019,18000000.0,19000000
581,Bernardo Corradi,Centre-Forward,26,Chievo Verona,Serie A,Inter,Serie A,2002-2003,NaN,4000000
3275,Emmanuel Emenike,Centre-Forward,26,Spartak Moscow,Premier Liga,Fenerbahce,Süper Lig,2013-2014,12000000.0,13000000
4432,Kieran Gibbs,Left-Back,27,Arsenal,Premier League,West Brom,Premier League,2017-2018,10000000.0,7500000
2044,Thiago Neves,Attacking Midfield,23,Fluminense,Série A,Hamburger SV,1.Bundesliga,2008-2009,10000000.0,9000000
1444,Darren Carter,Central Midfield,21,Birmingham,Premier League,West Brom,Premier League,2005-2006,2250000.0,2250000

### Na prístup k riadkom použijeme hranaté zátvorky

In [3]:
# Vyberie riadky začínajúce od pozícice druhého riadku po pozíciu štrtého riadku všetkých stĺpcov. 
df[2:5]

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
2,Marc Overmars,Left Winger,27,Arsenal,Premier League,FC Barcelona,LaLiga,2000-2001,NaN,40000000
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000

### series

In [22]:
# Zobrazenie nie je tabuľka, nemá ani názov stĺpca
df_series = df['Původní tým']
display (df_series)

0         FC Barcelona
1                Parma
2              Arsenal
3           Fiorentina
4          Real Madrid
             ...
4695          Atalanta
4696         Palmeiras
4697    Udinese Calcio
4698        1. FC Köln
4699           Swansea
Name: Původní tým, Length: 4700, dtype: object

### column

In [23]:
# Zobrazenieje tabulka, pretože to nie je series ale dataframe
df_column = df[['Původní tým']] # rozriel je v zátvorckách
display (df_column)

         Původní tým
0       FC Barcelona
1              Parma
2            Arsenal
3         Fiorentina
4        Real Madrid
...              ...
4695        Atalanta
4696       Palmeiras
4697  Udinese Calcio
4698      1. FC Köln
4699         Swansea

[4700 rows x 1 columns]

In [4]:
df[["Jméno","Věk"]]

                  Jméno  Věk
0             Luís Figo   27
1         Hernán Crespo   25
2         Marc Overmars   27
3     Gabriel Batistuta   31
4        Nicolas Anelka   21
...                 ...  ...
4695      Jasmin Kurtic   29
4696          Tchê Tchê   25
4697      Silvan Widmer   25
4698         Yuya Osako   28
4699       Kyle Bartley   27

[4700 rows x 2 columns]

### Na prístup ku kombinácií riadkov a stĺpcov

In [27]:
# Vyberte riadky začínajúce od pozície druhého riadku po pozíciu desiateho riadku. 
# A stĺpcov "Původní liga" a "Nová Liga" 
df[2:10][["Jméno","Věk"]]

               Jméno  Věk
2      Marc Overmars   27
3  Gabriel Batistuta   31
4     Nicolas Anelka   21
5      Rio Ferdinand   22
6   Flávio Conceicao   26
7     Savo Milosevic   26
8    David Trézéguet   22
9      Claudio López   25

In [41]:
# Toto je ten istý príkaz, len použitá funckia loc
display (df.loc[27:30,['Jméno','Věk']])

                Jméno  Věk
27         Nuno Gomes   24
28   Sérgio Conceição   25
29            Alfonso   27
30  Francisco Farinós   22

### loc

In [52]:
# Názov premennéj df_loc
# Definícia riadkov všetky stĺpce
# Definícia stĺpcov charakterizovaná v samostatných zátvorkách
df_loc = df.loc[:, ['Sezóna','Jméno']]
display (df_loc)

         Sezóna              Jméno
0     2000-2001          Luís Figo
1     2000-2001      Hernán Crespo
2     2000-2001      Marc Overmars
3     2000-2001  Gabriel Batistuta
4     2000-2001     Nicolas Anelka
...         ...                ...
4695  2018-2019      Jasmin Kurtic
4696  2018-2019          Tchê Tchê
4697  2018-2019      Silvan Widmer
4698  2018-2019         Yuya Osako
4699  2018-2019       Kyle Bartley

[4700 rows x 2 columns]

In [56]:
# Definovanie len jedného riadku 1000
df_loc_index = df.loc[1000, ['Sezóna','Jméno']]
display (df_loc_index)

Sezóna    2004-2005
Jméno         Tiago
Name: 1000, dtype: object

### iloc

In [57]:
# Názov premennej je df_iloc
# Definícia riadkov je rozpetie 500 až 520
# Definícia stĺpcov je rozpetie 0 až 3
df_iloc = df.iloc[500:520, 0:3]
display (df_iloc)

                 Jméno              Pozice  Věk
500      Hernán Crespo      Centre-Forward   27
501   Alessandro Nesta         Centre-Back   26
502    Fabio Cannavaro         Centre-Back   28
503   Clarence Seedorf    Central Midfield   26
504     Francesco Coco           Left-Back   25
505     Matías Almeyda  Defensive Midfield   28
506      Marco Di Vaio      Centre-Forward   26
507     Nicolas Anelka      Centre-Forward   23
508       Albert Luque         Left Winger   24
509     El-Hadji Diouf      Centre-Forward   21
510            Adriano      Centre-Forward   20
511  Jonathan Woodgate         Centre-Back   23
512      Jorge Andrade         Centre-Back   24
513        Javi Moreno      Centre-Forward   27
514         Hugo Viana    Central Midfield   19
515  Massimo Maccarone      Centre-Forward   22
516  Alberto Gilardino      Centre-Forward   20
517     Martin Laursen         Centre-Back   24
518     Tore André Flo      Centre-Forward   29
519      Roberto Acuña    Central Midfield   30

In [47]:
# Zobrazené ako DataFrame
display (df.iloc[[3]])

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
3,Gabriel Batistuta,Centre-Forward,31,Fiorentina,Serie A,AS Roma,Serie A,2000-2001,NaN,36150000

### Zobrazenie údajov cez Podmienky

In [68]:
df_podmienka = df['Věk' > 25]
display (df_podmienka)

TypeError: '>' not supported between instances of 'list' and 'int'

### Konkretizovanie na jediný záznam ('Nicolas Anelka')

In [73]:
# Filter cez podmienku
# premenná = z DataFrame vytvor DataFrame s podmienkou kde v stĺpci z názmom meno bude špecifikovaný údaj
df_filter = df[df.Jméno == 'Nicolas Anelka']
display (df_filter)

,Jméno,Pozice,Věk,Původní tým,Původní liga,Nový tým,Nová Liga,Sezóna,Odhadovaná hodnota,Přestupová částka
4,Nicolas Anelka,Centre-Forward,21,Real Madrid,LaLiga,Paris SG,Ligue 1,2000-2001,NaN,34500000
507,Nicolas Anelka,Centre-Forward,23,Paris SG,Ligue 1,Man City,Premier League,2002-2003,NaN,15000000
1011,Nicolas Anelka,Centre-Forward,25,Man City,Premier League,Fenerbahce,Süper Lig,2004-2005,15000000.0,10700000
1503,Nicolas Anelka,Centre-Forward,27,Fenerbahce,Süper Lig,Bolton,Premier League,2006-2007,12000000.0,12000000
1744,Nicolas Anelka,Centre-Forward,28,Bolton,Premier League,Chelsea,Premier League,2007-2008,20000000.0,18000000

### Konkretizovanie na jediný záznam podľa boolovskéj operácie

In [75]:
# Zobrazí akýsi výrez
df_bool = df.Jméno == 'Nicolas Anelka'
display (df_bool)

0       False
1       False
2       False
3       False
4        True
        ...
4695    False
4696    False
4697    False
4698    False
4699    False
Name: Jméno, Length: 4700, dtype: bool

In [79]:
# Zobrazenie ohraničenej charakteristiky napr. 500 riadkov
df_bool_head = df.Jméno == 'Nicolas Anelka'
display (df_bool_head.head(508))

0      False
1      False
2      False
3      False
4       True
       ...
503    False
504    False
505    False
506    False
507     True
Name: Jméno, Length: 508, dtype: bool

### index

In [30]:
# Start hodnota je informácia, že začíname od čísla 0
# Stop je hodnota posledného riadku čiže posledný riadok je 4699
# step hodnota znamená že nasledujúcu riadok (index) je hodnota +1
df.index

RangeIndex(start=0, stop=4700, step=1)